.forum-entries {
    margin-bottom: emCalc(32px);
}

.forum-entries.forum-entries-sticky {
    .forum-entry {
        background: lighten(rgb(167, 223, 241), 16%);
    }
}

.forum-entry {
    @include grid-row();
    padding-top: emCalc(5px);
    padding-bottom: emCalc(5px);

    /* Common rules */
    .forum-entry-title {

        @media #{$screen} {
            // If we are on mobile devices, just show the title
            @include grid-column(12);
        }

        @media #{$small} {
            // Else we have to keep space to show additional elements
            @include grid-column(6);
        }

        min-height: emCalc(29px); /* 24 + 5 */

        // The following property is set to !important in order to not be
        // overriten by the responsive rules
        padding-left: emCalc(64px) !important;

        background-position: emCalc(24px) emCalc(5px);
        background-repeat: no-repeat;

        // We are using a title in order to have better semantic but we want
        // these titles to be displayed like normal text
        h3 {
            font-family: 'Noto Sans';
            font-size: emCalc(16px);
            margin: 0;
            padding: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }

        background-image: url("../img/forums-normal.png");
    }

    .forum-entry-title.unread {
        background-image: url("../img/forums-unread.png");
    }

    .forum-entry-count {
        @include grid-column(1);
        @extend .hide-for-small;
        text-align: center;

        span {
            width: 100%;
            display: block;
        }
    }

    .forum-entry-desc {
        @include grid-column(5, true);
        @extend .hide-for-small;
        //line-height: emCalc(14px);

        p {
            margin: 0;
            padding: 0;
        }
    }
}

.forum-entry-locked {
    background-color: lighten(rgb(241, 206, 171), 14%);
}

.forum-entry-solved {
    background-color: lighten(rgb(213, 236, 191), 10%);
}

.before {
    opacity: 0.6;
}

.post-head {
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgb(221, 221, 221);

    padding: 3px;

    // For good centering, avoid left padding
    @media #{$small} {
        padding-left: 0;
    }

    p {
        padding: 0;
        margin: 0;
    }
}

.post-nickname, .post-avatar {
    @media #{$small} {
        text-align: center;
    }
}

.post-content {
    padding-top: emCalc(10px);
    padding-bottom: emCalc(10px);
}

.useful .post-content {
    background-color: rgb(213, 236, 191);
}
