<p>
    Bonjour <strong>{{ user.username }}</strong> et bienvenue sur Progdupeupl&#8239;!
</p>
<p>
    Je suis le robot de ce site chargé de différentes tâches comme envoyer
    des messages d’information ou ouvrir des sujets pour laisser les
    utilisateurs commenter des publications.
</p>
<p>
    En tant que membre, tu peux désormais participer activement à la vie du site
    en <a href="/forums/">contribuant au forum</a> ou en te lançant dans 
    la rédaction <a href="/articles/nouveau">d’articles</a> ou 
    <a href="/tutoriels/nouveau">de tutoriels</a>.
</p>
<p>
    N’hésite pas à <a href="/forums/sujet/1/bienvenue/">venir te présenter
    aux autres</a> si le cœur t’en dit &#8239;! :) </p>
<p>
    Amicalement,<br />
    Chtaline.
</p>
