<a href="#" class="button secondary dropdown" data-dropdown="tutorials-drop-feeds">
    Flux
</a><br />
<ul id="tutorials-drop-feeds" class="f-dropdown">
    <li><a href="{% url "tutorial-feed-rss" %}">Nouveaux tutoriels (RSS)</a></li>
    <li><a href="{% url "tutorial-feed-atom" %}">Nouveaux tutoriels (ATOM)</a></li>
</ul>
