{% extends "gallery/base.html" %}
{% load profile %}

{% block title %}
    {{ gallery.title }}
{% endblock %}

{% block headline %}
    {{ gallery.title }}
{% endblock %}

{% block headline-sub %}
    {{ gallery.subtitle }}
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="javascript:;">{{ gallery.title }}</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <p>
            Membres partageant cette galerie :
            {% for u in gallery.get_users %}
                {% with member=u.user %}
                    {% include "member/member_item_common.part.html" %}
                    (<i class="fi-{{ u.mode|mode }} size-18"></i>)
                {% endwith %}
            {% endfor %}
        </p>
        {% if gallery_mode.is_write %}
        <form action="{% url "pdp.gallery.views.modify_gallery" %}"
            method="post">
            <input type="text" name="user" placeholder="Nom de l'utilisateur">
            <input type="hidden" name="gallery" value={{ gallery.pk }}>
            <button name="adduser" class="button secondary">
                Ajouter un membre
            </button>
            {% csrf_token %}
        </form>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <form id="form" name="form" method="POST" action="{% url "pdp.gallery.views.modify_image" %}">
            <input type="hidden" name="gallery" value="{{ gallery.pk }}">
            <div class="row">
                <div class="large-8 columns">   
                    <h3>Images</h3>
                </div>
                <div class="large-4 columns">
                    <div class="right">
                        <a href="{% url "pdp.gallery.views.new_image" gallery.pk %}" class="button">
                            Ajouter une image
                        </a>
                        <button name="delete_multi" class="button secondary">
                            Supprimer
                        </button>
                    </div>
                </div>
            </div>
            <table>
                <thead>
                   <tr>
                       <th style="width: 3%;"></th>
                       <th style="width: 180px;">Image</th>
                       <th style="width: 36%;">Titre</th>
                       <th style="width: 36%;">Légende</th>
                   </tr>
                </thead>
                <tbody>
                    {% for img in gallery.get_images %}
                        <tr>
                            <td>
                                <input name="items" type="checkbox" value="{{ img.pk }}" />
                            </td>
                            <td>
                                <div>
                                    <a href="{% url "pdp.gallery.views.edit_image" gallery.pk img.pk %}">
                                        <img src="{{ img.physical.url }}" style="max-width:180px ;max-height:180px" data-caption="{{ img.title }}"
                                             alt="{{ img.title }}" />
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a href="{% url "pdp.gallery.views.edit_image" gallery.pk img.pk %}">{{ img.title }}</a>
                            </td>
                            <td>
                                {{ img.legend }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% csrf_token %}
        </form>
    </div>
</div>


{% endblock %}
