﻿{% load cache %}
{% load staticfiles %}
{% load compressed %}
{% load profile %}
{% load interventions %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Sans nom{% endblock %}{% block title_base %}{% endblock %} &#183; Progdupeupl</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    {% block meta %}{% endblock %}

    <link rel="stylesheet" media="screen,projection" href="{% static "css/progdupeupl.css" %}">
    <link rel="stylesheet" media="print" href="{% static "css/print.css" %}">

    {# for additionnal css in some pages #}
    {% block extracss %}{% endblock %}

    {# favicons #}
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/touch-icon-114x114.png" %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/touch-icon-72x72.png" %}" />
    <link rel="apple-touch-icon" href="{% static "img/touch-icon-iphone.png" %}" />

    {# RSS links #}
    <link rel="alternate" type="application/rss+xml"
          title="Articles" href="{% url "article-feed-rss" %}"/>
    <link rel="alternate" type="application/rss+xml"
          title="Tutoriels" href="{% url "tutorial-feed-rss" %}"/>
    <link rel="alternate" type="application/rss+xml"
          title="Forum" href="{% url "post-feed-rss" %}"/>
</head>
<body>

    {# Anchor for going to the top of the screen #}
    <div id="h"></div>

    {# Start of top bar #}
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <img src="{% static "img/topbar.png" %}" alt="" />
                <h1>
                    <a href="/">
                        Progdupeupl
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">

            {# Theses menu_* blocks are set or not in applications derived base.html #}
            {# in order to set the menu entry active or not. #}

            <ul class="left">
                <li {% block menu_home %}{% endblock %}>
                    <a href="{% url "pdp.pages.views.home" %}">
                        <i class="icon-home"></i>
                        Accueil
                    </a>
                </li>
                <li {% block menu_article %}{% endblock %}>
                    <a href="{% url "pdp.article.views.index" %}">
                        <i class="icon-file-text"></i>
                        Articles
                    </a>
                </li>
                <li {% block menu_tutorial %}{% endblock %}>
                    <a href="{% url "pdp.tutorial.views.index" %}">
                        <i class="icon-book"></i>
                        Tutoriels
                    </a>
                </li>
                <li {% block menu_forum %}{% endblock %}>
                    <a href="{% url "pdp.forum.views.index" %}">
                        <i class="icon-comments"></i>
                        Forums
                    </a>
                </li>
            </ul>

            <ul class="right">
                <li>
                    <a href="{% url "haystack_search" %}">Recherche</a>
                </li>
                {% if user.is_authenticated %}
                    {% cache 120 topbar-messages user.username %}
                    {% with topics=user|interventions_privatetopics %}
                        {% with unread_topics=topics.unread %}
                            <li class="{% block menu_messages %}{% endblock %} has-dropdown">
                                <a href="{% url "pdp.messages.views.index" %}">
                                    {% if unread_topics|length > 0 %}
                                        <span class="label alert">{{ unread_topics|length }}</span>
                                    {% endif %}
                                    Messages
                                </a>
                                <ul class="dropdown">
                                    {% with read_topics=topics.read %}
                                        {# Unread topics #}
                                        {% for topic in unread_topics %}
                                            <li>
                                                <a href="{{ topic.last_read_post.get_absolute_url }}">
                                                    <span class="label">!</span>
                                                    <strong>
                                                        {{ topic.title }}
                                                    </strong>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {# Read topics #}
                                        {% for topic in read_topics %}
                                            <li>
                                                {% with last_answer=topic.get_last_answer %}
                                                    <a href="
                                                        {% if last_answer %}
                                                            {{ last_answer.get_absolute_url }}
                                                        {% else %}
                                                            {{ topic.first_post.get_absolute_url }}
                                                        {% endif %}">
                                                        {{ topic.title }}
                                                    </a>
                                                {% endwith %}
                                            </li>
                                        {% endfor %}
                                        {% if read_topics|length = 0 and unread_topics|length = 0 %}
                                            <li class="disabled">
                                                <a href="{% url "pdp.messages.views.index" %}">Pas de message</a>
                                            </li>
                                        {% endif %}
                                    {% endwith %}
                                </ul>
                            </li>
                        {% endwith %}
                    {% endwith %}
                    {% endcache %}
                    {% cache 120 topbar-topics user.username %}
                    {% with topics=user|interventions_topics %}
                        {% with unread_topics=topics.unread %}
                            <li class="has-dropdown">
                                <a href="{% url "pdp.forum.views.followed_topics" %}">
                                    {% if unread_topics|length > 0 %}
                                        <span class="label alert">{{ unread_topics|length }}</span>
                                    {% endif %}
                                    Sujets suivis
                                </a>
                                <ul class="dropdown">
                                    {% with read_topics=topics.read %}
                                        {# Unread topics #}
                                        {% for topic in unread_topics %}
                                            <li>
                                                <a href="{{ topic.last_read_post.get_absolute_url }}">
                                                    <span class="label">!</span>
                                                    <strong>
                                                        {{ topic.title }}
                                                    </strong>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {# Read topics #}
                                        {% for topic in read_topics %}
                                            <li>
                                                {% with last_answer=topic.get_last_answer %}
                                                    <a href="
                                                        {% if last_answer %}
                                                            {{ last_answer.get_absolute_url }}
                                                        {% else %}
                                                            {{ topic.first_post.get_absolute_url }}
                                                        {% endif %}">
                                                        {{ topic.title }}
                                                    </a>
                                                {% endwith %}
                                            </li>
                                        {% endfor %}
                                        {% if read_topics|length = 0 and unread_topics|length = 0 %}
                                            <li class="disabled">
                                                <a href="javascript:;">Aucun sujet suivi</a>
                                            </li>
                                        {% endif %}
                                    {% endwith %}
                                </ul>
                            </li>
                        {% endwith %}
                    {% endwith %}
                {% endcache %}
                <li class="has-dropdown">
                    {% with profile=user|profile %}
                        <a href="{% url "pdp.member.views.actions" %}">
                            <img src="{{ profile.get_avatar_url }}" alt="" width="24" height="24" />
                            {{ user.username }}
                        </a>
                    {% endwith %}
                    <ul class="dropdown">
                        <li><a href="{% url "pdp.member.views.details" user.username %}"><i class="icon-user"></i> Profil</a></li>
                        <li><a href="{% url "pdp.gallery.views.gallery_list" %}"> Galeries d’images</a></li>
                        <li><a href="{% url "pdp.member.views.publications" %}"><i class="icon-list"></i> Publications</a></li>
                        <li><a href="{% url "pdp.member.views.settings_profile" %}"><i class="icon-cog"></i> Paramètres</a></li>
                        <li><a href="{% url "pdp.member.views.logout_view" %}" onclick="document.getElementById('disconnect_form').submit(); return false;"><i class="icon-signout"></i> Se déconnecter</a></li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{% url "pdp.member.views.register_view" %}">S’inscrire</a>
                </li>
                <li>
                <a href="{% url "pdp.member.views.login_view" %}{% if request.path != '/' %}?suivant={{ request.path }}{% endif %}">Se connecter</a>
                </li>
                {% endif %}
            </ul>
        </section>
    </nav>
    {# End of top bar #}

    <header>
        <div class="row">
            <div class="twelve columns">
                {% block header %}{% endblock %}
            </div>
        </div>
    </header>

    <div class="row hide-for-small">
        <div class="large-12 columns">
            <ul class="breadcrumbs">
                <li>
                    <a href="{% url "pdp.pages.views.home" %}">Accueil</a>
                </li>
                {% block breadcrumb_base %}{% endblock %}
                {% block breadcrumb %}{% endblock %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <h1>
                {% block headline %}{% endblock %}<br />
                <small>
                    {% block headline-sub %}{% endblock %}
                </small>
            </h1>
        </div>
        <div class="large-4 columns">
            <div class="headline-actions">
                {% block headline-actions %}{% endblock %}
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="row">
            <div class="large-12 columns">
                    {% for message in messages %}
                        <div data-alert class="alert-box {{ message.tags }}">
                            <span>{{ message }}</span>
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
            </div>
        </div>
    {% endif %}

    {% block content %}{% endblock %}

    {# Footer #}

    <div class="row full-width footer">
        <div class="large-4 columns">
            <p>
                &copy; Progdupeupl 2013 - 2014
                <small>{{ git_version }}</small>
            </p>
        </div>
        <div class="large-8 columns">
            <ul class="inline-list right">
                <li><a href="http://smoothirc.net/">SmoothIRC</a></li>
                <li><a href="https://twitter.com/Progdupeupl">Twitter</a></li>
                <li><a href="https://bitbucket.org/MicroJoe/progdupeupl">Bitbucket</a></li>
                <li><a href="{% url "pdp.pages.views.index" %}">Plus…</a></li>
                <li><a href="#h">↑</a></li>
            </ul>
        </div>
    </div>

    {# Form used for CSRF protection on logout #}
    {% if user.is_authenticated %}
    <form id="disconnect_form" action="{% url "pdp.member.views.logout_view" %}" method="post">
        {% csrf_token %}
    </form> 
    {% endif %}

    {# Javascript stuff start #}
    {% compressed_js "base" %}
    {% compressed_js "custom" %}

    {# for addtionnal javascript in some pages #}
    {% block extrajs %}{% endblock %}

    {# Foundation #}
    <script>
        $(document).foundation('topbar forms dropdown tooltips alerts section clearing', {
            custom_back_text: true,
            back_text: 'Précédent'
        });
    </script>

    {# MathJax #}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                processEscapes: true,
            },
            messageStyle: "none",
        });
    </script>
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    {% block additionnal-js %}{% endblock %}

</body>
</html>
